# Install and run mpxa. Tests for both C++ and the Python wrappers are run.
name: MPXA_CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    # Do a nightly run of the tests
    - cron: '0 1 * * *'

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        if: matrix.language == 'python'
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install C++ dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake libgtest-dev libeigen3-dev python3-pybind11 pybind11-dev
          
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[testing]
          pip install .
          pip freeze
          python -c "import mpxa; print(mpxa)"

      - name: Build and run C++ tests
        run: |
          cd build
          ctest

      - name: Run Python tests
        run: |
          python -m pytest tests/python --ignore=tests/python/porepy